#feedContainer {
    text-align: left;
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding:10px;
    min-width: 200px;
    min-height: 100px;
    max-height: 225px;
    overflow-y: scroll;
}

#feed {
    border-collapse: separate;
    border-spacing: 0px 5px;
    max-height: 100%;
}

#feedToggle {
    display: none;
}

#feedToggle:hover {
    cursor: pointer;
}

.feedEntry {
    background: #40c4f8;
    padding: 5px;
    border-radius: 5px;
}

.feedEntry:hover {
    cursor: default;
}

@media screen and (max-width: 450px) {

    #feed {
        display: none;
    }

    #feedContainer {
        display: flex;
        flex-direction: row;
        min-width: 0px;
        min-height:0px;
        max-height: 100%;
    }

    #feedToggle {
        display: inline-block;
    }

    .feedTBody {
        text-align: center;
        margin: auto;
    }

    .feedEntry {
        width: 100%;
    }
}