#map {
    height: 100%;
    z-index: 0;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    min-width: 200px;
    overflow: visible;
    max-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.flashes.main {
    position: absolute;
    bottom: 40px;
    display: inline-block;
    z-index: 100;

}

.report-table {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 30px 10px;
}

.stats {
    width: 120px;
    height: 38px;
    background: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stats p {
    margin: 0;
}

.btn_heatmap {
    position: fixed;
    border: none;
    top: 10px;
    left: 203px;
    z-index: 150;
    direction: ltr; 
    overflow: hidden; 
    text-align: center; 
    height: 40px; 
    display: table-cell; 
    vertical-align: middle;
    color: rgb(86, 86, 86); 
    font-family: 'Roboto', 'Arial', 'sans-serif'; 
    user-select: none;
    font-size: 18px; 
    background-color: rgb(255, 255, 255);
    padding: 0px 17px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    min-width: 65px; border-left: 0px;
}
.btn_refresh {
    position: fixed;
    border: none;
    top: 10px;
    left:303px;
    z-index: 5;
}

.btn_heatmap:focus {
    outline: none;
}

.btn_heatmap:hover {
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
    margin-left: -52px;
}

#dropdiv {
    z-index: 5;
    padding: 5px;
}

ul {
    margin: 0;
    padding-inline-start: 0px;
    list-style-type: none;
}



/* Dropdown Button */
button.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 38px;
}

.marker_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.marker_buttons button.report {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.marker_buttons button.report p {
    margin: 0 6px 0 0;
}

.popup_img {
    margin-top: 5px;
}

.popup_btn {
    background-color: #3498DB;
    color: white;
    padding: 0px 10px;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

.clean {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.report {
    background-color: rgb(194, 58, 58);
    width: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}


.clean p {
    margin: 0;
}

.btn_red {
    background-color: rgb(194, 58, 58);
}

.btnSmall {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.popup_upload {
    height: 140px;
    width: 265px;
    display: flex;
    flex-direction: column;
}

.popup_upload input[type=file] {
    display: flex;
    flex-direction: column;
    max-width: 245px;
}

.popup_upload .header {
    text-align: center;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.popup_upload .section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup_upload .section button {
    margin-top: 20px;
    background-color: #3498DB;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.popup_upload .footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.popup_upload .section .alert {
    padding: 5px 10px;
    width: 245px;
    text-align: center;
    margin-bottom: 5px;
}

.popup_upload .warning {
    width: 245px;
    height: 20px;
    border-radius: 3px;
    background-color: rgb(170, 69, 56);
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.popup_upload .alert p {
    height: 20px;
}

.popup_upload a {
    padding: 10px;
}

.report_icon {
    padding: 5px 10px;
    background: rgb(194, 58, 58);
    color: white;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.report_icon a {
    color: white;
}


/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
/*
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
*/

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.controls {
    position: absolute;
    bottom: 1%;
    left: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    right: 10px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
}

input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin: 0;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.clickable {
    display: inline-block;
    background: #b8e7fa;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}

.clickable:hover {
    background: #f5fcff;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .search-container {
        justify-content: flex-start;
    }


    .search-container form {
        display: flex;
        justify-content: flex-start;
    }

    input[type=text] {
        width: 50%;
        margin: 0;
    }

    input[type=text] {
        border: 1px solid #ccc;
    }
}


@media screen and (max-width: 400px) {
    .dropbtn {
        padding: 5px;
    }

}