#map {
    height: 100%;
    z-index: 0;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    min-width: 200px;
    overflow: scroll;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
    margin-left: -52px;
}

#dropdiv {
    z-index: 5;
    padding: 5px;
}

ul {
    margin: 0;
    padding-inline-start: 0px;
    list-style-type: none;
}



/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btnSmall {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.controls {
    position: absolute;
    bottom: 1%;
    left: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    right: 10px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
}

input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin: 0;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .search-container {
        justify-content: flex-start;
    }


    .search-container form {
        display: flex;
        justify-content: flex-start;
    }

    input[type=text] {
        width: 50%;
        margin: 0;
    }

    input[type=text] {
        border: 1px solid #ccc;
    }
}


@media screen and (max-width: 400px) {
    .dropbtn {
        padding: 5px;
    }

}