{%- extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% set page_title = page_title|default('Crowdsourced Cleanup') -%}

{% block title %}
{{ page_title}}
{% endblock %}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script type="text/javascript" src="{{url_for('static', filename='js/javascript.js')}}"></script>

{{super()}}
<link rel="shortcut icon" href="{{url_for('static', filename='resources/favicon.ico') }}">
{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Rubik" rel="stylesheet">

{% endblock %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>