{% extends "base.html" %}
{% set active_page = 'index' %}

{% block content %}
<div class="flashes">
    {% include 'includes/_messages.html' %}
</div>
<div id="map"></div>
<div id="feedContainer">
    <table id="feed"></table>
</div>
<div class="controls">
    <div id="dropdiv">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn"><i class="fa fa-map-marker" aria-hidden="true"></i> Add Marker</button>
            <div id="myDropdown" class="dropdown-content">
                <!--<button onclick="addRandomMarker('darkgreen_MarkerC.png')">Cleanup type 1</button>
                <button onclick="addRandomMarker('pink_MarkerB.png')">Cleanup type 1</button>
                <button onclick="addRandomMarker('red_MarkerA.png')">Cleanup type 1</button>-->
                <div class="popup_upload">
                    {% from "includes/_formhelpers.html" import render_field %}
                    <form method='POST' action="/upload/" enctype="multipart/form-data">
                        <div class="section">
                            {{upload_form.image.label()}}
                            {{upload_form.image(class="form-control-file")}}
                            {% if upload_form.image.errors %}
                            {% for error in upload_form.image.errors %}
                            <p class="error">{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                            <div class="footer">
                                <button type="submit">Submit</button>
                            </div>
                            {{ upload_form.hidden_tag() }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="search-container">
        <form action="#">
            <input type="text" placeholder="Search.." name="location">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/map.js')}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxGG-4DJjroDIjlVJwwltXQHTeMlilE54&callback=initMap" async
    defer></script>
<script type="text/javascript" src="{{url_for('static', filename='js/feed.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/feed.css')}}">

{% endblock %}