{% extends "base.html" %}
{% set active_page = 'index' %}

{% block content %}

<script type="text/javascript">
$(document).ready(() => {

    $.get('/feed?user={{user_profile._id}}', data => {
        resHTML = "<tbody style='width: 100%'>";
        data.forEach(feed => {
            resHTML += "<tr><td class='historyEntry'>";
            var incident = null;
            $.ajax({
                async:false,
                type: "GET",
                url: "/pins?pin=" + feed.incident_id,
                timeout: 60000,
                success: function(data){
                    incident = data;
                }
            });
            resHTML += "<p class='date'>" + incident.date_created + "</p><a href='/?pin=" + feed.incident_id + "'><h4>" + (feed.type == "new_pin" ? "Added new pin" : "Cleaned up trash!") +
                "</h4><img class='history-img' src='/" + incident.image_before + "'/></a><hr/></td></tr>";
        });
        resHTML += "</tbody>";
        $("#history-table").html(resHTML);
    });


});
</script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/profile.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/modal.css')}}">
<div class="page-background">
    <div id="userModal" class="modal-popup" style="display: block;">
        <div class="center_modal">
            <div class="modal-popup-content white-bg larger profile-container">
                <div class="profile">
                    <div class="details">
                        <h1><i class="fas fa-address-card profile-icon"></i> {{user_profile.first_name}} {{user_profile.last_name}}</h1>
                        {% if user_profile.account_level == 100 %}
                        <p>Admin</p>
                        {% endif %}
                        <h3>Score: {{user_profile.score}}</h3>
                        <button class="btn-back" onclick="window.location.href = '/'">BACK</button>
                        <br/>
                    </div>
                    <div class='user-history'>
                        <table id="history-table">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</div>
</div>

{% endblock %}