{% extends "base.html" %}
{% set active_page = 'index' %}

{% block content %}

<script type="text/javascript" src="{{url_for('static', filename='js/feed.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/profile.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/modal.css')}}">
<div class="page-background">
    <div id="userModal" class="modal-popup" style="display: block;">
        <div class="center_modal">
            <div class="modal-popup-content white-bg larger">
                <div class="flashes">
                    {% include 'includes/_messages.html' %}
                </div>
                <div class="profile">
                    {% for report in all_reports %}
                    <p>Report: {{report}}</p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}